@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Noto+Sans+KR&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979..2050&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  overscroll-behavior: contain;
}
body::-webkit-scrollbar {
  width: 12.5px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #151515ad;
}
body::-webkit-scrollbar-track {
  border-radius: 25px;
  background-color: #ebebeb;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {
  font-family: "DM Sans", sans-serif;
}
#container {
  width: 100vw;
  height: 100vh;
}
header{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.middler{
  margin:3% auto;
  width: 70vw;
  height:70vh;
  display:flex;
  flex: row nowrap;
  justify-content: center;
}
.photo {
  flex:1;
  border-radius:100px 100px 0 ;
  box-shadow: 3px 3px 15px 5px #ececec;
}
.textBox{
  flex: 3;
  padding:12% 30px;
  width:20%;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.25em;
  font-size:2.5em;
  font-weight: 400;
  color:#343434;
}
.textBox>p:nth-child(2){
  font-weight: 600;
}
.strong{
  font-weight: 600;
  font-size: 2.5em;
  line-height:1.5em;
}
#scrollDown {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  color: #343434;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  animation: indexEffect 1.5s infinite alternate linear;
}
@keyframes indexEffect {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
nav ul {
  list-style-type: none;
  height: fit-content;
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 60%;
  display: flex;
  flex: row nowrap;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  z-index: 100;
}
nav ul a {
  display: inline-block;
  border-radius: 50px;
  height: fit-content;
}
nav li {
  display: inline-block;
  border: 1px solid #151515;
  border-radius: 50px;
  width: 7em;
  margin: 0 10px;
  padding-left: 20px;
  font-size: 2em;
  transition: 0.5s;
  cursor: pointer;
}
nav li:hover,
nav li:active,
.actives {
  background-color: #151515;
  color: white;
  width: 400px;
  transition: 0.5s;
}
/* header 끝 ///////// Main 시작 */
main {
  padding: 0;
}
.pages {
  opacity: 0;
  transform: translateX(-10%);
  transition: all 1s;
}
.visible {
  opacity: 1;
  transform: translateX(0%);
  transition: all 1s;
}
#page01 {
  padding: 10px 5%;
}
#page01In {
  margin-top: 50px;
  padding: 20px 40px;
  height: 100vh;
  color: #151515;
}
.page01h1 {
  font-size: 8em;
  line-height: 0.8em;
}
.page01h1 p{
  display: inline-block;
}
.page01h1 p:first-child{
  color:#cccccc;
}
#innerPage01 {
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
}
#page01Left {
  width: 48%;
  height: 700px;
}
.bCard{
  width:95%;
  height: 300px;
  border: 1px solid black;
  border-radius: 20px;
  margin:30px 0;
}
.cardFront{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding:0 10px;
}
.frontLeft{
  width:30%;
  padding-top:20px;
  height: 100%;
}
.frontLeft img{
 width:100%;
}
.frontRight{
  width:65%;
  padding:5% 3%;
}
.name{
  font-size: 1.5em;
  font-weight:600;
  margin:20px 0;
}
.cardEmail{
  font-size: 0.8em;
}
#imgWillHere {
  display: inline-block;
  width: 30%;
  height: 50%;
  border-radius: 150px 150px 0px 0px;
  transition: all 0.3s;
  overflow: hidden;
}
#imgWillHere img {
  width: 100%;
  filter: grayscale(0.2);
}
#imgWillHere:hover {
  border-radius: 150px 0px;
}
#page01Info {
  display: inline-block;
  width: 100%;
  height: 30%;
  padding: 10px;
  position: relative;
}
#page01Info> a{
  background-color: #151515;
  color:#ffffff;
  padding:1px 10px;
  border-radius: 10px;
  position: absolute;
  top:50%;
  right:5%;
  transform: translateY(-50%);
  transition: color 1s ease-in-out;
}
#page01Info> a:hover{
  background-color: #ffffff;
  color:#151515;
  border:1px solid black;
}
#personalKw li {
  display: inline-block;
  border-radius: 30px;
  padding: 0px 10px;
  border: 1px solid #151515;
  margin: 15px 0px;
}
#infoSkill::-webkit-scrollbar {
  width: 5px;
}
#infoSkill::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #151515ad;
}
#infoSkill::-webkit-scrollbar-track {
  border-radius: 25px;
  background-color: #ebebeb;
}
#infoSkill {
  display: block;
  width: 100%;
  padding: 0 10px;
  height:40%;
  text-align: left;
  overflow-y: scroll;
}
#infoSkill > p {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}
#infoSkill ul {
  margin: 10px 0px;
}
#infoSkill li {
  display: inline-block;
  border: 1px solid #151515;
  padding: 0px 10px;
  margin: 5px 0px;
  border-radius: 30px;
}
.react{
  animation: indexEffect 0.8s infinite alternate ease-in-out;
}
#page01Right {
  display: inline-block;
  width: 48%;
  height: 700px;
}
#page01Right> img{
  width:100%;
  margin:0 auto;
}
#page01Right > p{
  margin:20px 0;
  font-size: 1.1em;
}
#page01Right > p>span{
  font-size: 0.8em;
  color:#454545;
}
#page01Right span.material-symbols-outlined {
  display: none;
}
#page01Edu,
#page01Work {
  /* display: flex; */
  width: 100%;
  height: fit-content;
  margin-bottom: 0px;
}
#eduTitle,
#workTitle {
  width: 100%;
  padding: 5px 10px;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
#eduText,
#workText {
  display: none;
  width:100%;
  padding: 0px 10px;
  font-size: 18px;
  /* border-left: 1px solid #151515; */
  /* display: block; */
}
#eduText p,
#workText p {
  margin: 0px 0px;
}
#eduText span,
#workText span {
  font-size: smaller;
}
/* Page01 끝 /////// Page02 시작 */
#Page02{
  padding:10px 5%;
}
.title02{
  font-size:12em;
  text-align:center;
  font-family: "Climate Crisis", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:normal;
  overflow: hidden;
  color:#ffffff;
}
.split > span{
  display: inline-block;
}
#page02In {
  margin-top: 50px;
  padding: 20px 40px;
  height: 100vh;
  color: #151515;
}
#innerPage02{
  display: grid;
  grid-template-columns: 25% 35% 40%;
  grid-template-rows: 150px 100px 150px;
  gap:3px;
}
.skills{
  color:#ffffff;
  display: block;
  width: 100%;
  height: 100%;
  text-align:center;
  font-size: 4em;
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
.skills:hover{
  font-family: "Climate Crisis";
  font-variation-settings:
    "YEAR" 2000;
    font-style: normal;
}
.skills:first-child{
  grid-column-start:2;
  grid-column-end:4;
}
.skills:nth-child(2){
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 2;
  grid-row-end: 4;
}
.skills:nth-child(3){
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start:3;
  grid-column-end:4;
}
.skills:nth-child(5){
  grid-row-start: 1;
  grid-row-end: 3;
}
.skills:nth-child(6){
  grid-column-start: 2;
  grid-column-end: 3;
}
/* Page02 끝 /////////////////////// Page03 시작*/
#page03 {
  padding: 10px 5%;
}
#page03In {
  margin-top: 50px;
  padding: 20px 40px;
  height: min(100vh);
  color: #151515;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
.page03h1{
  width:100%;
  font-size: 6em;
  font-weight: 100;
  text-align: center;
  overflow: hidden;
}
.page03h1 p{
  display:inline-block;
}
.page03h1 span {
  border-radius: 100px;
  color: white;
  background-color: #151515;
  padding: 0px 30px;
}
#page03Inner {
  display: inline-block;
  width: 100%;
  height: 500px;
  position: relative;
  margin:20px 0;
  flex:3;
}
#pjtList > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}
#pjtList > ul > li {
  width: 100%;
  text-align: right;
  font-size: 50px;
  padding-right: 10px;
  border-bottom: 2px solid #151515;
  position: relative;
}
#pjtList > ul > li > span {
  font-size: 60px;
  padding: 5px;
}
#pjtList > ul > li:hover,
.gradation {
  background: linear-gradient(to left, #151515, #1515153b);
  color: #ffffff;
  cursor: pointer;
}
.webList > span {
  position: absolute;
  left: 0;
}
.webList:last-child{
  display: none;
}
.pjtDetails {
  position: absolute;
  right: 0;
  width: 100%;
  text-align: center;
  display: none;
  color: #151515;
  cursor: auto;
  z-index: 50;
}
.pjtDetail {
  width: 100%;
  height: 600px;
  padding: 10px;
  border: 1px solid #151515;
  border-radius: 50px 0px;
  display: flex;
  background-color: #ffffff;
}
.hideList {
  display: none;
}
.pjtDetail div {
  display: inline-block;
}
.webPjtPhoto {
  width: 49%;
  height: 100%;
  padding: 1%;
  overflow-x: hidden;
}
.webPjtPhoto::-webkit-scrollbar {
  width: 8px;
}
.webPjtPhoto::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #151515ad;
  cursor: pointer;
}
.webPjtPhoto::-webkit-scrollbar-track {
  border-radius: 25px;
  background-color: #ebebeb;
}
.imgBox {
  height: fit-content;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
}
.webPjtPhoto img {
  width: 100%;
  transform-origin: center 30%;
  transform: scale(1.2);
  transition: all 0.3s;
}
.webPjtPhoto img:hover {
  transform: scale(1.7);
}
.webPjtText {
  font-family: "Noto Sans KR", sans-serif;
  width: 49%;
  height: auto;
  padding: 5% 20px;
  border-left: 2px solid #151515;
  font-size: medium;
  text-align: left;
  position: relative;
}
.webPjtText > p:first-child {
  font-size: 0.9rem;
  border-left: 2px solid #151515;
  padding: 5px;
}
.webPjtText > p > span {
  font-size: 40px;
  margin: 0px 5px;
}
.webPjtText p {
  margin: 10px 0px;
}
.webInfo {
  margin: 10px 0px;
}
.webInfo li {
  border-bottom: 0.5px solid #ebebeb;
  padding: 2px 0px;
}
.webInfo li div {
  display: inline-table;
}
.webInfoTitle {
  width: 25%;
  font-weight: bold;
  text-align: right;
}
.webInfoText {
  padding: 0px 10px;
  width: 72%;
}
.webBtns {
  margin: 5% 0px;
  padding: 3px;
}
.webPjtText button {
  font-family: "Noto Sans KR", sans-serif;
  width: 150px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #343434;
  border: none;
  border-bottom: 2px solid #343434;
  transition: 0.5s;
  margin: 0px 5px;
  cursor:pointer;
}
.webPjtText button:hover {
  background-color: #343434;
  color: #ffffff;
  transition: 0.5s;
}
#page03IndexNum {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 30px;
  font-size: 18em;
  color:transparent;
  -webkit-text-stroke: #343434 2px;
}
/* Page03 끝  /////////// Page04 시작 */
#page04 {
  padding: 10px 0px;
}
#page04In {
  margin-top: 100px;
  padding: 40px 0px;
  height: max-content;
  color: #151515;
}
#page04In h1 {
  font-size: 7em;
  font-weight: 100;
  display: inline-block;
  border:1px solid black;
}
.wrapBox{
  display: flex;
  width:100%;
  overflow: hidden;
}
.rollingBanner{
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
}
.rollingList{
  font-size: 9em;
  width: fit-content;
  margin: 0 30px;
  color:#cccccc;
}
@keyframes rolling1 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%); }
	50.01% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}
@keyframes rolling2 {
	0% { transform: translateX(0); }
	100% { transform: translateX(-200%); }
}

.rollingBanner.original {
	animation: rolling1 30s linear infinite;
}
.rollingBanner.clone {
	animation: rolling2 30s linear infinite;
}
.innerPage04{
  padding:30px;
  text-align: center;
  color:#454545;
  font-family: "Noto Sans KR", sans-serif;
}
.innerPage04 span{
  font-size: 2em;
}
.email>p{
  font-size: 1.5em;
}
.email>p>span{
  font-size: 0.7em;
  color:#454545;
}
.copyEmail{
  display: inline-block;
  margin: 0 auto;
  height: min-content;
  position:relative;
}
.myEmail{
  font-size: 5.5em;
  font-family: "Playfair Display", system-ui;
  text-align: center;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #343434;
  padding: 3px 0px;
  color:#343434;
}
.copyEmail>button{
  width:100%;
  height: 100%;
  background:transparent;
  outline: none;
  border:none;
  position:absolute;
  left:0;
  top:0;
  cursor: pointer;

}
.copyEmail>button:hover, .copyEmail>button:focus {
  border-bottom:3px solid #343434;
}
.resume{
  margin-top:30px;
}
.resume a{
  display: inline-block;
  border: 1px solid #343434;
  padding: 3px 15px;
  margin: 5px 10px;
  border-radius: 30px;
  color:#343434;
  transition: all 0.5s ease;
  font-family: "Playfair Display", system-ui;
  font-weight: 600;
}
.resume a:hover{
  background-color: #343434;
  color:#ebebeb;
}
@media screen and (max-width: 1082px) {
  #page00 {
    width: 100vw;
    height: 100vh;
    position: relative;
    box-shadow: 0px 0px 50px 1px #ebebeb;
  }
  .middler{
    margin:0 auto;
    padding:5% 0;
    width: 100vw;
    height:85vh;
    display:flex;
    flex-flow: column nowrap;
  }
  .photo {
    width: 50vw;
  }
  .textBox{
    padding:2% 20px;
    width:100%;
    font-size:1.5em;

  }
  .textBox>p:first-child{
    font-size: 0.8em;
  }
  #scrollDown {
    display: none;
  }
  nav ul {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  nav ul a {
    transition: 0.5s;
    display: block;
    height: fit-content;
  }
  nav li {
    display: inline-block;
    width: 2.5em;
    margin: 0px;
    padding: 0 20px;
    transition: 0.5s;
  }
  nav li:hover,
  nav li:active,
  .actives {
    background-color: #151515;
    color: white;
    width: 8em;
    transition: 0.5s;
  }
  /* ----------------------Main--------------------- */
  .pages {
    opacity: 1;
    transform: translateX(0%);
  }
  #page01,
  #page02,
  #page03 {
    padding: 0px;
  }
  #page01In {
    padding: 20px 30px;
    min-height: 100vh;
    height: fit-content;
  }
  .page01h1{
    font-size: 6em;
  }
  #innerPage01 {
    display: flex;
    flex-direction: column;
  }
  #page01Left {
    width: 100%;
    height: min-content;
  }
  #imgWillHere {
    width: 48%;
  }
  #imgWillHere img {
    width: 100%;
    filter: grayscale(0.2);
  }
  #imgWillHere:hover {
    border-radius: 0px 0px;
  }
  #page01Info {
    width: 100%;
  }
  #page01Info> a{
    position: absolute;
    top:10%;
    right:0%;
    transform: translateY(0%);
  }
  #personalKw li {
    margin: 1px 0px;
    font-size: 0.8em;
  }
  #page01Edu,
  #page01Work {
    flex-direction: column;
    width: 100%;
    height: min-content;
    margin-bottom: 0px;
  }
  #eduTitle,
  #workTitle {
    width: 100%;
    padding: 5px 0px;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border-top: 1px solid #151515;
  }
  #eduText,
  #workText {
    display: none;
    width: 100%;
    padding: 0px;
    font-size: small;
    border-left: 0px;
  }
  #infoSkill {
    width: 100%;
  }
  #infoText {
    font-size: 14px;
  }
  #infoText span {
    font-size: 18px;
  }
  #infoSkill > p {
    font-size: medium;
    margin-top: 20px;
  }
  #infoSkill ul {
    margin: 5px 0px;
  }
  #infoSkill li {
    padding: 0px 7px;
    font-size: 0.9em;
  }
  /* 취미 숨김*/
  #infoSkill p:nth-of-type(3),
  #infoSkill ul:nth-of-type(3) {
    display: none;
  }
  #page01Right {
    display: inline-block;
    width: 100%;
    height: min-content;
  }
  #page01Right > p{
    margin:10px 0;
    font-size: 1em;
  }
  #page01Right span.material-symbols-outlined {
    display: inline-block;
    font-size: large;
    padding: 5px 0px;
  }
  /* --------------page02--------------- */
 .title02{
  font-size: 3.7em;
 }
 .skills{
  font-size: 1.5em;
 }
 .skills:first-child{
  text-align: right;
 }
 .skills:nth-child(2){
  text-align: left;
 }
 .skills:nth-child(6){
  grid-column-start: 1;
  grid-column-end:3;
 }
  /*---------------page03---------------*/
  #page03In {
    padding: 20px 30px;
    min-height: 100vh;
    height: fit-content;
    position: relative;
    flex-direction: column;
  }
  .page03h1 {
    width: 100%;
    font-size: 3em;
  }
  .page03h1 > p{
    display: block;
    text-align: left;
  }
  #page03Inner {
    display: inline-block;
    width: 100%;
    height: fit-content;
    position: relative;
  }
  .bCard{
    height: fit-content;
  }
  #pjtList > ul > li {
    font-size: 2em;
  }
  #pjtList > ul > li > span {
    font-size: xx-large;
  }
  #page03IndexNum {
    bottom: 10%;
    right: 10%;
    padding: 0px;
    height: min-content;
    font-size: 9em;
  }
  .pjtDetail {
    height: 65vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  .webPjtPhoto {
    width: 100%;
    height: 40%;
    padding: 1%;
    overflow-x: hidden;
  }
  .webPjtPhoto::-webkit-scrollbar {
    width: 5px;
  }
  .webPjtPhoto::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #151515ad;
  }
  .webPjtPhoto::-webkit-scrollbar-track {
    border-radius: 25px;
    background-color: #ebebeb;
  }
  .webPjtPhoto img {
    transform: scale(1.6);
  }
  .webPjtPhoto img:hover {
    transform: scale(1.6);
  }
  .webPjtText {
    width: 100%;
    height: 60%;
    padding: 1% 10px;
    border-left: 0px solid #151515;
    font-size: small;
    overflow: hidden;
    overflow-y:scroll;
  }
  .webPjtText::-webkit-scrollbar {
    width: 5px;
  }
  .webPjtText::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #151515ad;
  }
  .webPjtText::-webkit-scrollbar-track {
    border-radius: 25px;
    background-color: #ebebeb;
  }
  .webPjtText > p:first-child {
    font-size: 0.8rem;
    border-left: 1px solid #151515;
  }
  /* -- pc, mobile 아이콘-- */
  .webPjtText > p > span {
    font-size: 20px;
    margin: 0px 5px;
  }
  .webPjtText p {
    margin: 5px 0px;
  }
  .webInfo {
    font-size: smaller;
  }
  .webInfoTitle {
    width: 25%;
    font-weight: bold;
    text-align: right;
  }
  .webInfoText {
    padding: 0px 10px;
    width: 73%;
  }
  .webInfoText p,
  .webInfoTitle p {
    margin: 0px;
  }
  .webPjtText button {
    width: fit-content;
    padding: 2px 10px;
    border-bottom: 1px solid #151515;
    font-size: small;
  }
  .webBtns {
    margin: 0px;
    padding: 3px;
    width: 100%;
    text-align: right;
  }
  /* ---------------page 04--------------- */
  #page04In {
    padding: 20px 30px;
    height: fit-content;
    min-height: 90vh;
  }
  .rollingList{
    font-size: 8em;
  }
  .innerPage04 span{
    font-size: 1em;
  }
  .email>p{
    font-size: 1em;
  }
  .myEmail{
    font-size: 1.5em;
    text-align: center;
  }
  .copyEmail>button{
    height: 100%;
  }
  .copyEmail>button:hover{
    border-bottom:2px solid #343434;
  }
  .resume{
    margin-top:30px;
    font-size: 0.8em;
  }
  .resume a{
    padding: 1px 10px;
  }
}
